<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <block name="title"><title>赵七七个人博客</title></block>
        <!--移动端设置-->
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        
        <link rel="stylesheet" href="__PUBLIC__/Home/Mobile/font/iconfont.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Mobile/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Mobile/css/index.css"/>
        <script src="__PUBLIC__/Home/Mobile/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="__PUBLIC__/Home/Mobile/js/index.js" type="text/javascript" charset="utf-8" defer="defer"></script>
    </head>
    <body>
        <block name="header"><include file="Common:header" /></block>
        <block name="main"></block>
        <!-- <block name="right"><include file="Html.Common.right" /></block> -->
        <block name="footer"><include file="Common:footer" /></block>
            
    </body>
</html>