<block name="header"><include file="Common:header" /></block>
<block name="otherJs">
    <script type="text/javascript" src="__PUBLIC__/ueditor1_4_3/third-party/SyntaxHighlighter/shCore.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/ueditor1_4_3/third-party/SyntaxHighlighter/shCoreDefault.css">
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
</block>
<block name="main">
        <!--主体-->
        <main>
            <div class="container">
                <!--文章-->
                <div class="w66 left">
                    <article>
                        <div class="article">
                            <!-- 首页文章 -->
                            <block name="content_art"><include file="Common:content_art" /></block>
                            <!-- 首页文章结束 -->
                        </div>
                    </article>
                </div>
                <!--文章结束-->
            <block name="right"><include file="Common:right" /></block>
            </div>
        </main>
        <!--主体结束-->
</block> 
<block name="footer"><include file="Common:footer" /></block>    
        

