<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
      <!-- Loading Bootstrap -->
      <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
      <!-- Loading Flat UI -->
      <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
      <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
      <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/hdjs/hdjs.css">
      <script type="text/javascript" src="__PUBLIC__/uploadify/jquery-1.8.2.min.js"></script>
      <script type="text/javascript" src="__PUBLIC__/hdjs/hdjs.min.js"></script>
            <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
      <!--[if lt IE 9]>
        <script src="dist/js/vendor/html5shiv.js"></script>
        <script src="dist/js/vendor/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <div class="alert alert-success">添加分类</div>
    <form method="post" onsubmit="return hd_submit(this,'{:U('Admin/Category/add')}','{:U('Admin/Category/index')}')">
      <div class="form-group">
        <label for="exampleInputEmail1">分类名称</label>
        <input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入分类名称" required="" name="cname">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">所属分类</label>
        <select name="pid" class="form-control">
          <option value="0">顶级分类</option>
          <foreach name="cateData" item="v">
           <option value="{$v.cid}">{$v._name}</option>
          </foreach>
        </select>
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">分类排序</label>
        <input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入分类排序" required="" name="csort" value="100">
      </div>
      
      <button class="btn btn-primary btn-block" type="submit"> 确定 </button>
    </form>
  </body>
</html>
