<block name="header"><include file="Common:header" /></block>
<block name="main">
        <!--主体-->
        <main>
            <div class="container">
                <!--文章-->
                <div class="w66 left">
                    <article>
                        <div class="article">
                            <div class="border fade">
                                <section>
                                    <button><i class="icon iconfont close">&#xe69a;</i></button>
                                    欢迎来到赵七七个人博客，若有问题可联系本人。邮箱：1352726123@qq.com 微信：zx1352726123
                                    <i class="icon iconfont">&#xe6af;</i>
                                </section>
                            </div>
                            <!-- 首页文章 -->
                            <block name="index_art"><include file="Common:index_art" /></block>
                            <!-- 首页文章结束 -->
                        </div>
                    </article>
                </div>
                <!--文章结束-->
            <block name="right"><include file="Common:right" /></block>
            </div>
        </main>
        <!--主体结束-->
</block> 
<block name="footer"><include file="Common:footer" /></block>    
        

